<div class="container-fluid" style="padding: 20px;">
  <div class="row">
    <div class="col">
      <div class="card shadow p-3 mb-5 bg-light rounded">
        <div class="card-header" style="height: 160px;">
          <app-header></app-header>
        </div>
        <div class="card-body" style="min-height: 250px;">
          <router-outlet></router-outlet>
        </div>
        <div class="card-footer">
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</div>
