<div class="container-scroller">
    <div class="main-panel">
        <header id="header">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <div class="navbar-top">
                        <div class="d-flex justify-content-between align-item-center">
                          <h1 style="color:white">Home Page</h1>
                            <!-- <ul class="navbar-top-left-menu">
                                <li class="nav-item">
                                    <a href="./home" class="nav-link">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="./aboutUs" class="nav-link">About Us</a>
                                </li>
                            </ul> -->
                            <!-- <ul class="navbar-top-right-menu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link"><i class="mdi mdi-magnify"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a href="./register" class="nav-link">Admin Login</a>
                                </li>
                            </ul> -->
                        </div>
                    </div>

                </nav>
            </div>
        </header>
                <div class="content-wrapper">
            <div class="container">
              <div class="col-sm-12">
                <div class="card" data-aos="fade-up">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <!-- <h1 class="font-weight-600 mb-4">
                          SPORTS
                        </h1> -->
                      </div>
                    </div>
                    <div class="row">
<div class="conatiner-fluid">
    <div class="col-md-10">
        <div class="row">
            <app-weather></app-weather>
        </div>
        <div class="row">
            <app-image-slider></app-image-slider>
        </div>
        <div class="row">
            <app-news></app-news>
        </div>
    </div>
    <div class="col-md-2">
        <div class="position-relative">
            <app-chat-box></app-chat-box>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<!-- 
<div class="row mx-auto" style="width: max-content;">
    <app-chat-box></app-chat-box>
</div> -->